<div class="container-fluid">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <i class="fa fa-user fs-4 me-3"></i>
      <span class="fs-4">Simple header</span>
    </a>

    <ul class="nav nav-pills">
      <li *ngFor="let menu of menus; let ind = index;" class="nav-item"><a [routerLink]="[menu.url]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">{{menu.name}}</a></li>
    </ul>
  </header>
  <router-outlet></router-outlet>
</div>
